<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.tams.mapper.StudentMapper">


    <resultMap id="studentByIdMap" type="com.tams.model.StudentModel">
        <id property="sId" column="s_id" jdbcType="BIGINT"/>
        <result property="name" column="s_name" jdbcType="VARCHAR" />
        <result property="age" column="s_age" jdbcType="INTEGER" />
        <result property="gender" column="s_gender" jdbcType="VARCHAR" />
        <result property="birthday" column="s_birthday" jdbcType="DATE" />
        <result property="tel" column="s_tel" jdbcType="VARCHAR" />
        <result property="status" column="s_status" />
        <result property="timeOfEnrollment" column="s_time_of_enrollment" jdbcType="DATE" />
        <result property="grade" column="c_grade" />
        <result property="clazz" column="c_class_name" />
        <result property="teacher" column="t_name" />
        <result property="department" column="d_depart_name" />
        <result property="iId" column="i_id" />
        <result property="cId" column="c_id" />
    </resultMap>

    <sql id="selectStudentSql">
        select
            s.s_id s_id,
            s.`name` s_name,
            s.age s_age,
            s.gender s_gender,
            s.birthday s_birthday,
            s.tel s_tel,
            s.`status` s_status,
            s.time_of_enrollment s_time_of_enrollment,
            c.grade c_grade,
            c.class_name c_class_name,
            s.c_id c_id,
            t.`name` t_name,
            d.depart_name d_depart_name,
            i.i_id
        from
            student s
                left join class c on c.c_id = s.c_id
                left join teacher t on c.t_id = t.t_id
                left join department d on c.d_id = d.d_id
                left join image i on s.i_id = i.i_id
    </sql>

    <select id="getStudentAll" parameterType="com.tams.dto.PageParam" resultMap="studentByIdMap">
        <include refid="selectStudentSql"></include>
        where s.is_delete = 1
        <if test="param.keyword != ''">
          and  s_id like "%${param.keyword}%" or s.name like "%${param.keyword}%" or s.age like "%${param.keyword}%"
            or s.gender like "%${param.keyword}%" or s.birthday like "%${param.keyword}%" or s.tel like "%${param.keyword}%"
            or s.status like "%${param.keyword}%" or s.time_of_enrollment like "%${param.keyword}%"
            or c.grade like "%${param.keyword}%" or c.class_name like "%${param.keyword}%"
            or s.c_id like "%${param.keyword}%" or d.depart_name like "%${param.keyword}%"
        </if>
        order by ${param.sortBy} ${param.order}
    </select>
    <select id="getStudentById" parameterType="long" resultMap="studentByIdMap">
        <include refid="selectStudentSql"></include>
        where
            s.s_id = ${value} and s.is_delete = 1
    </select>

</mapper>
