<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="org.sms.mapper.ScheduleMapper">
      
      <select id="queryALLSchedule">
           select * from schedule
      </select>
      
      <select id="IsConflictLessonAndClass" parameterType="Schedule" resultType="Integer">
          select count(1) from schedule where lessonid = #{lessonid} and  class = #{clazz}
      </select>
      
      <select id="IsConflictTimeAndClass" parameterType="Schedule" resultType="Integer">
          select count(1) from schedule where day = #{day} and section = #{section} and  class = #{clazz}
      </select>
      
      <select id="IsConflictTimeAndSite" parameterType="Schedule" resultType="Integer">
          select count(1) from schedule where day = #{day} and section = #{section} and  site= #{site};
      </select>
      
      <select id="IsConflictTutorAndTime" parameterType="Schedule" resultType="Integer">
      select count(1) from schedule where day = #{day} and section = #{section} and tutor = #{tutor} ;
      </select>
      
      <select id="queryScheduleByClass" parameterType="String" resultMap="schedule_resultmap_class">
          select * from schedule where class = #{class}
      </select>
      
      <select id="queryScheduleByTeacher" parameterType="String" resultMap="schedule_resultmap_class">
          select * from schedule where tutor = #{class}
      </select>
      
      <resultMap type="Schedule" id="schedule_resultmap_class">
          <result property="clazz" column="class"/>
          <association property="tutor" javaType="String"  column="tutor" jdbcType="INTEGER"  select="org.sms.mapper.TeacherMapper.queryNameOfTeacherById" />
          <association property="lessonid" javaType="String" column="lessonid" jdbcType="VARCHAR" select="org.sms.mapper.CourseMapper.queryCoursename"></association>
      </resultMap>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <insert id="insertSingleSchedule" parameterType="Schedule" >
           <choose>
           <when test="remark !='' and remark != null">
               insert into schedule(tutor,lessonid,class,site,day,section,remark) 
               values(#{tutor} ,#{lessonid},#{clazz},#{site},#{day},#{section},#{remark})
           </when>
           <otherwise>
              insert into schedule(tutor,lessonid,class,site,day,section) 
               values(#{tutor} ,#{lessonid},#{clazz},#{site},#{day},#{section})
            </otherwise>
          </choose>
      </insert>
      
      
      
 </mapper>